[submodule "lib/other/nanopb"]
	path = lib/other/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "lib/other/wolfmqtt"]
	path = lib/other/wolfmqtt
	url = https://github.com/wolfSSL/wolfMQTT.git
[submodule "lib/filesystem/spiffs"]
	path = lib/filesystem/spiffs
	url = https://github.com/pellepl/spiffs
	ignore = dirty
[submodule "lib/other/cmsis"]
	path = lib/other/cmsis
	url = https://github.com/ARM-software/CMSIS_5
	ignore = dirty
[submodule "lib/other/zfp"]
	path = lib/other/zfp
	url = https://github.com/LLNL/zfp
[submodule "lib/script/wren"]
	path = lib/script/wren
	url = https://github.com/wren-lang/wren
[submodule "lib/script/gravity"]
	path = lib/script/gravity
	url = https://github.com/marcobambini/gravity
