# SCons related
*.dblite

# ignore all object files
*.o
*.pyc

# ignore generated protobuf files
*.pb.h
*.pb.c

# ignore generated outputs
*.bin
*.elf
*.fw
*.key
*.map

# ignore encryption and signing keys
*.key

version.h
