[submodule "lib/cli/treecli"]
	path = lib/cli/treecli
	url = https://github.com/iqyx/treecli.git
[submodule "lib/cli/lineedit"]
	path = lib/cli/lineedit
	url = https://github.com/iqyx/lineedit.git
[submodule "lib/other/nanopb"]
	path = lib/other/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = https://github.com/iqyx/libopencm3.git
[submodule "lib/other/wolfmqtt"]
	path = lib/other/wolfmqtt
	url = https://github.com/wolfSSL/wolfMQTT.git
[submodule "lib/other/heatshrink"]
	path = lib/other/heatshrink
	url = https://github.com/atomicobject/heatshrink
[submodule "lib/script/duktape"]
	path = lib/script/duktape
	url = https://github.com/svaarala/duktape
[submodule "lib/filesystem/spiffs"]
	path = lib/filesystem/spiffs
	url = https://github.com/pellepl/spiffs
