gitdb==4.0.5
GitPython==3.1.14
pyaml==20.4.0
PyYAML==6.0.1
six==1.15.0
smmap==3.0.5
kconfiglib==14.1.0
protobuf==5.26.1
SCons==4.1.0.post1
tqdm==4.57.0
colorama==0.4.4
sphinx==7.2.6
sphinx-rtd-theme==2.0.0
rst2pdf==0.101
sphinxcontrib-contentui==0.2.5
sphinx-toolbox==3.5.0
