config FW_IMAGE_ELF
	bool "Generate ELF image"

menu "ELF image configuration"
	depends on FW_IMAGE_ELF


	config ELF_IMAGE_LOAD_ADDRESS
		hex "Load address of the generated image (in the internal flash memory)"
		default PORT_FLASH_ADDRESS

	config ELF_IMAGE_XIP
		bool "Allow loading ELF image to the flash including the ELF header, allow eXecute-In-Place of the ELF image. Strip."
		default n

	config ELF_IMAGE_TO_BIN
		depends on !ELF_IMAGE_XIP
		bool "Flatten the image to a *.bin"
		default y

	config ELF_SIGNING_KEY
		depends on ELF_IMAGE_XIP
		string "Ed25519 signing key"
		default "elfsign.key"

endmenu



