config PORT_NWDAQ_G201
	bool "nwDaq-G201"

	menu "Configuration"
		depends on PORT_NWDAQ_G201
		config PORT_NAME
			string
			default "nwdaq-g201"

		config PLATFORM_NAME
			string
			default "cortex-m4f"

		config NWDAQ_G201_BAT_VOLTAGE
			bool "Measure battery voltage (create a sensor device)"
			default y
			select SERVICE_ADC_SENSOR

		config NWDAQ_G201_ENABLE_FLASH
			bool "Enable onboard SPI flash memory"
			default y
			select SERVICE_SPI_FLASH
			select SERVICE_FS_SPIFFS

		config NWDAQ_G201_ENABLE_RADIO
			bool "Enable onboard SX1231 radio transceiver"
			default y
			select SERVICE_RADIO_RFM69

		config NWDAQ_G201_ENABLE_LED
			bool "Enable status LED"
			default y
	endmenu
