config PORT_NWDAQ_S2_INC2
	bool "nwdaq-s2-inc2 inclination sensing module for the S2 platform"

	menu "Configuraton"
		depends on PORT_NWDAQ_S2_INC2

		config PORT_NAME
			string
			default "nwdaq-s2-inc2"

		config PLATFORM_NAME
			string
			default "cortex-m4f"

		config MCU_FAMILY
			string
			default "stm32g4"

		config PORT_FLASH_ADDRESS
			hex
			default "0x08000000"

		config PORT_NWDAQ_S2_INC2_MIB_PUBKEY
			string "Ed25519 public key for MIB verification (base64)"
			default ""
	endmenu
