config LIB_LINEEDIT
	bool "lineedit (single-line editor library with command history)"
	default y

config LIB_NANOPB
	bool "NanoPB protocol buffers library"
	default y

config LIB_HEATSHRINK
	bool "Heatshrink LZSS compression/decompression library"
	default n

config LIB_TREECLI
	bool "treecli tree-structured command line interface library"
	default y

config LIB_DUKTAPE
	bool "duktape ECMAScript interpreter library"
	default n

config LIB_WREN
	bool "wren.io language compiler & VM"
	default n

config LIB_GRAVITY
	bool "Gravity language compiler & VM"
	default n

config LIB_SPIFFS
	bool "SPIFFS NOR flash memory filesystem library"
	default y

config LIB_CMSIS
	bool "ARM CMSIS library"
	default y

config LIB_CMSIS_STM32H7
	bool "ARM CMSIS library for STM32H7 MCU family"
	default n

config LIB_CMSIS_STM32G4
	bool "ARM CMSIS library for STM32G4 MCU family"
	default n

config LIB_ZFP
	bool "LLNL ZFP floating point compression library"
	default y

config LIB_TINYCBOR
	bool "CBOR encoding/decoding library TinyCbor"
	default y

config LIB_LIBOPENCM3
	bool "libopencm3 library"
	default y

config LIB_PLUMCORE_CRYPTOLIB
	bool "plumCore cryptographic primitives and routines"
	default y

config LIB_FEC_GOLAY
	bool "fec-golay library for Golay forward error correction"
	default y

config LIB_PLUMCORE_LOG
	bool "plumCore logging library"
	default y

config LIB_LITTLEFS
	bool "littlefs filesystem library"
	default n

config LIB_BLAKE2S_MICRO
	bool "blake2s-micro library"
	default n

config LIB_PLUMCORE_CONFIGLIB
	bool "plumCore configuration library/helpers"
	default y

config LIB_XZ_EMBEDDED
	bool "xz-embedded LZMA decompressor"
	default n

	menu "xz-embedded configuration"
		depends on LIB_XZ_EMBEDDED

		config LIB_XZ_DEC_ARM
			bool "BCJ filter decoder for ARM"
			default n

		config LIB_XZ_DEC_ARMTHUMB
			bool "BCJ filter decoder for ARMTHUMB"
			default n

		config LIB_XZ_DEC_ARM64
			bool "BCJ filter decoder for ARM64"
			default n

		config LIB_XZ_DEC_RISCV
			bool "BCJ filter decoder for RISCV"
			default n
	endmenu
