config LIB_LINEEDIT
	bool "lineedit (single-line editor library with command history)"
	default y

config LIB_WOLFMQTT
	bool "WolfMQTT library"
	default n

config LIB_NANOPB
	bool "NanoPB protocol buffers library"
	default y

config LIB_HEATSHRINK
	bool "Heatshrink LZSS compression/decompression library"
	default n

config LIB_LIBUXB
	bool "UXB bus master library for STM32"
	default y

config LIB_SFFS
	bool "SFFS simple flash filesystem library"
	default y

config LIB_TREECLI
	bool "treecli tree-structured command line interface library"
	default y

config LIB_DUKTAPE
	bool "duktape ECMAScript interpreter library"
	default n

config LIB_WREN
	bool "wren.io language compiler & VM"
	default n

config LIB_GRAVITY
	bool "Gravity language compiler & VM"
	default n

config LIB_SPIFFS
	bool "SPIFFS NOR flash memory filesystem library"
	default y

config LIB_CMSIS_DSP
	bool "ARM CMSIS library (DSP part)"
	default y

config LIB_ZFP
	bool "LLNL ZFP floating point compression library"
	default y

config LIB_TINYCBOR
	bool "CBOR encoding/decoding library TinyCbor"
	default y

config LIB_LIBOPENCM3
	bool "libopencm3 library"
	default y
