config APP_HH1
	bool "nwdaq-main-hh1 battery monitor application"

menu "nwdaq-main-hh1 application configuration"
	depends on APP_HH1

	config APP_NAME
		string
		default "hh1"

	choice
		prompt "Application profile"
		default APP_HH1_PROFILE_NONE

		config APP_HH1_PROFILE_NONE
			bool "None"

		config APP_HH1_PROFILE_FF14_FORCE
			bool "Force measurement using nwdaq-ate-ff14"
			select SERVICE_NBUS2
			select SERVICE_PROTO_DGSTREAM
			select SERVICE_NBUS_MQ_CLIENT
			select SERVICE_NBUS_FLASH_PROXY
			select SERVICE_MQ_COMPENSATION
	endchoice

endmenu
