CONFIG_PORT_NWDAQ_BR28_FDC=y
CONFIG_NWDAQ_BR28_FDC_ENABLE_SERIAL_CONSOLE=y
CONFIG_NWDAQ_BR28_FDC_ENABLE_LEDS=y
CONFIG_NWDAQ_BR28_FDC_ENABLE_FLASH=y
# CONFIG_SERVICE_STM32_I2C_SENSORS is not set
# CONFIG_SERVICE_UXB_MASTER is not set
CONFIG_SERVICE_STM32_FDCAN=y
# CONFIG_SERVICE_STM32_L4_PM is not set
CONFIG_SERVICE_NBUS=y
# CONFIG_SERVICE_SENSOR_OVER_CAN is not set
# CONFIG_SERVICE_GSM_QUECTEL is not set
CONFIG_SERVICE_ADC_MCP3564=y
CONFIG_SERVICE_ADC_COMPOSITE=y
CONFIG_SERVICE_GENERIC_POWER=y
CONFIG_SERVICE_GENERIC_MUX=y
# CONFIG_SERVICE_CLI_DEVICE_CAN is not set
# CONFIG_SERVICE_CLI_SYSTEM_BOOTLOADER is not set
# CONFIG_SERVICE_LORA_FS is not set
# CONFIG_SERVICE_MQTT_FILE_SERVER is not set
# CONFIG_SERVICE_STREAM_OVER_MQTT is not set
# CONFIG_SERVICE_MQTT_SENSOR_UPLOAD is not set
# CONFIG_SERVICE_MQTT_FILE_DOWNLOAD is not set
# CONFIG_SERVICE_PLOG_SENSOR_UPLOAD is not set
# CONFIG_SERVICE_PLOG_RELAY is not set
# CONFIG_SERVICE_MQ_PERIODOGRAM is not set
# CONFIG_SERVICE_TCPIP_SENSOR_UPLOAD is not set
# CONFIG_SERVICE_RADIO_MAC_SIMPLE is not set
# CONFIG_SERVICE_MQTT_TCPIP is not set
# CONFIG_SERVICE_FLASH_TEST is not set
# CONFIG_LIB_LIBUXB is not set
# CONFIG_LIB_SFFS is not set
# CONFIG_LIB_ZFP is not set
# CONFIG_DEFAULT_MQTT_CONNECTION is not set
CONFIG_DEFAULT_CONSOLE_CLI=y
CONFIG_CONFIG_LOAD_FILE=y
CONFIG_CONFIG_LOAD_FILE_FILENAME="startup.cfg"
CONFIG_DEFAULT_PLOG_ROUTER=y
CONFIG_APP_NWDAQ_BR28_FDC=y
CONFIG_APPLET_HELLO_WORLD=y
CONFIG_APPLET_TEMPCO_CALIBRATION=y
CONFIG_FW_IMAGE_ELF=y
