config PORT_INCL_G104MF
	bool "incl-g104mf wireless accelerometer"
	select SERVICE_STM32_RTC
	select SERVICE_STM32_SYSTEM_CLOCK
	select SERVICE_PLOCATOR
	select PORT_PLATFORM_ARM_CM4F

	menu "Configuration"
		depends on PORT_INCL_G104MF

		config PORT_NAME
			string
			default "incl-g104mf"

		config PLATFORM_NAME
			string
			default "cortex-m4f"

		config PORT_FLASH_ADDRESS
			hex
			default "0x08000000"

		choice
			prompt "Clock speed"

			config INCL_G104MF_CLOCK_HSI16
				bool "16 MHz (using HSI16)"
		endchoice

		config INCL_G104MF_ENABLE_LEDS
			bool "Enable LEDs"
			default n

		config INCL_G104MF_ENABLE_WATCHDOG
			bool "Enable watchdog"
			select SERVICE_STM32_WATCHDOG
			default y

		config STM32_DEBUG_IN_STOP
			bool "Enable debugging in stop mode"
			default y

		config INCL_G104MF_ENABLE_QSPI
			select SERVICE_STM32_QSPI_FLASH
			bool "Enable QSPI NOR flash (FIFO for measured data, SPIFFS for firmware update & configuratio)"
			default y

		config INCL_G104MF_QSPI_STARTUP_TEST
			depends on INCL_G104MF_ENABLE_QSPI
			select SERVICE_FLASH_TEST
			bool "Run QSPI speed test on startup"
			default n

			comment "Warning: running flash tests on every boot wears out the flash memory faster"
				depends on INCL_G104MF_QSPI_STARTUP_TEST

		config INCL_G104MF_ENABLE_CONSOLE
			select SERVICE_STM32_UART
			select SERVICE_CLI
			select SERVICE_LOGINMGR
			bool "Enable serial console"
			default y

			config INCL_G104MF_CONSOLE_SPEED
				depends on INCL_G104MF_ENABLE_CONSOLE
				int "Console speed (baudrate)"
				default 115200

		config INCL_G104MF_ENABLE_LORA
			select SERVICE_LORA_RN2483
			bool "Enable RN2483 LoRaWAN modem"
			default y

		config INCL_G104MF_ENABLE_RFM
			bool "Enable RFMxx LoRa modem transceiver"
			default y

		config INCL_G104MF_ENABLE_TDK_ACCEL
			bool "Enable ICM-42688 accelerometer"
			default y

		config INCL_G104MF_ENABLE_ADXL_ACCEL
			bool "Enable ADXL355 accelerometer"
			default y

		config INCL_G104MF_ENABLE_MICROSD
			bool "Enable micro-SD card"
			default y


	endmenu
